{% extends "adminapp/base.html" %}
{% block content %}
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>

<body>

  <section>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created On</th>
        <th>Created By</th>
      </tr>
      {% for complaint in complaints %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ complaint.title }}</td>
        <td>{{ complaint.description }}</td>
        <td>{{ complaint.raised_on }}</td>
        <td>{{ complaint.user_email }}</td>
      </tr>
      {% endfor %}

    </table>
  </section>

</body>

</html>
{% endblock %}
