{% extends "userapp/base.html" %}
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service Request</title>
</head>

<body>
 
  <section>
    <h2>Complaint Request Form</h2>
    <form class="column" action="add-complaint" method="post">
      {% csrf_token %}
      <label for="title">Title</label>
      <input type="text" name="title" class="title" required>
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="10" required></textarea>
      <input type="submit" value="Submit">
    </form>
  </section>

</body>

</html>
{% endblock %}