{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank User</title>
</head>
<body>
  <div class="center">

  <img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'bank.png' %}" width="100px" height="100px">
  <h2 style="text-align: center;color: #2691d9;">Banking User Application</h2>
  <h2 style="text-align: center;color: #2691d9;">Forgot Password</h2>

    <br>
    <p style="text-align: center;color: #2691d9;">Reset Your Password</p>
    <p style="text-align: center;color: #2691d9;">A Code will be sent to your registered email</p>
    <form method="post" action="process-forgot-password">
      {% csrf_token %}
      <div class="txt_field">
        <input required type="text" name="email" required>
        <label>Registered Email</label>
      </div>

      <input type="submit" value="Reset My Password">
      
    </form>
  </div>

</body>
</html>