{% extends "userapp/base.html" %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction History</title>
</head>
<body>
  <section>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Request Code</th>
        <th>Amount</th>
        <th>Request Date</th>
        <th>Tags</th>
      </tr>
      {% for transaction in transactions %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ transaction.code }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.requested_on }}</td>
        <td>
          <span class="badge badge-warning">{{ transaction.request_label }}</span>
          <span class="badge badge-info">{{ transaction.label }}</span>
        </td>
      </tr>
      {% endfor %}     
    </table>
  </section>

</body>
</html>
{% endblock %}